DB_CONNECTION = mongodb+srv://ToDoAdminUser:TdaD0aOR5YdSqgqQ@todo.9gxrc1x.mongodb.net/restrauntDB

PORT = 3000

DOUGH_TIME = 7000

ONE_TOPPING_TIME = 4000

OVEN_TIME = 10000

WAITER_SERVING_TIME = 5000